/* You can add global styles to this file, and also import other style files */

custom-header{
    border-style: solid;
    border-color: red;
}
article-list{
    border-color: green;
    border-style: solid;
}
