#green-option{
    color: rgb(25, 231, 6);
}
#red-option{
    color: red;
}
#blue-option{
    color: blue;
}
#black-option{
    color: black;
}
#white-option{
    color: rgba(213, 213, 213, 0.905);
}
label{
    font-size: 25px;
}
select{
    font-size: 25px; 
}
option{
    font-size: 25px;
}